
; Error handling and logging
log_errors = On
log_errors_max_len = 4096
error_reporting = {{ (target=='development') | ternary('E_ALL', 'E_ALL & ~E_DEPRECATED & ~E_STRICT') }}
display_errors = {{ (target=='development') | ternary('On', 'Off') }}
display_startup_errors = {{ (target=='development') | ternary('On', 'Off') }}

zend.assertions = {{ (target=='development') | ternary('1', '-1') }}
assert.exception = 1
