; xdebugの設定
[xdebug]
; リモートデバッグの設定
xdebug.remote_enable = {{ (target=='development') | ternary('On', 'Off') }}
xdebug.remote_connect_back = On
xdebug.remote_autostart = On
xdebug.remote_handler = dbgp
xdebug.remote_port = 9000
xdebug.idekey = vagrant-xdebug

; var_dumpの結果を省略せずに出力する設定
xdebug.var_display_max_children = -1
xdebug.var_display_max_data = -1
xdebug.var_display_max_depth = -1
