
[www]

user = {{ fpm_user }}
group = {{ fpm_group }}

listen = {{ fpm_unix_socket }}
listen.owner = {{ fpm_user }}
listen.group = {{ fpm_group }}
listen.mode = 0660

listen.allowed_clients = 127.0.0.1

pm                   = dynamic
pm.max_children      = {{ fpm_max_children }}
pm.start_servers     = {{ fpm_start_servers }}
pm.min_spare_servers = {{ fpm_min_spare_servers }}
pm.max_spare_servers = {{ fpm_max_spare_servers }}
pm.max_requests      = {{ fpm_max_requests }}

request_terminate_timeout = {{ fpm_request_terminate_timeout }}

