# WEBサーバ(ドメイン単位)の設定
server {
  # Listen するアドレス・ポートの設定
  listen       443 ssl http2 default_server;
  listen       [::]:443 ssl http2 default_server;

  # HOST 名の設定
  server_name  {{ hostname }};

  # 文字コードの設定
  charset utf-8;

  # Etag を出力しない
  etag off;

  # インデックスページ(ディレクトリー内のファイル一覧)を表示しない
  autoindex off;

  # ログの設定(syslog を使用)
  access_log  syslog:server=127.0.0.1,facility=local5,severity=info  main;
  error_log   syslog:server=127.0.0.1,facility=local6,severity=info  warn;

  # ドキュメントのルート(公開フォルダ)を設定
  root  {{ web_server_public }};

  # ファイル名を省略した時に読み込まれるファイルの指定
  index  index.php;

  # HTTP/2 push を設定する(https://qiita.com/wokamoto/items/63b47c1b320807d6380b)
  http2_push_preload on;

  # クリックジャッキング対策
  add_header X-Frame-Options SAMEORIGIN;

  # XSSフィルター
  add_header X-XSS-Protection "1; mode=block";

  # MIME タイプのセキュリティ リスクの軽減
  add_header X-Content-Type-Options nosniff;

  # Content Security Policy (CSP)
  # add_header Content-Security-Policy "default-src 'self' ; script-src 'self' 'unsafe-inline'; img-src 'self' 'unsafe-inline'; style-src 'self' 'unsafe-inline'; form-action 'self'; child-src 'none'; object-src 'none'";
  add_header Content-Security-Policy "default-src 'self' ; script-src 'self' 'unsafe-inline' 'unsafe-eval'; img-src 'self' data:; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com; font-src 'self' data: https://fonts.googleapis.com https://fonts.gstatic.com; form-action 'self'; child-src 'none'; object-src 'none'";

  # SSL の設定
  # add_header Strict-Transport-Security の設定は他のサブドメインも含めて SSL を強制されてしまうので有効にする場合は注意する
  #add_header Strict-Transport-Security "max-age=31536000; includeSubdomains";
  ssl_protocols TLSv1.2;
  ssl_ciphers 'ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA:ECDHE-RSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-RSA-AES256-SHA256:DHE-RSA-AES256-SHA:ECDHE-ECDSA-DES-CBC3-SHA:ECDHE-RSA-DES-CBC3-SHA:EDH-RSA-DES-CBC3-SHA:AES128-GCM-SHA256:AES256-GCM-SHA384:AES128-SHA256:AES256-SHA256:AES128-SHA:AES256-SHA:DES-CBC3-SHA:!DSS';
  ssl_prefer_server_ciphers on;
  ssl_session_cache shared:SSL:1m;
  ssl_session_timeout 5m;
  ssl_session_tickets off;
  ssl_stapling on;
  ssl_stapling_verify on;
  ssl_certificate      {{ ssl_folda }}/{{ ssl_name }}.crt;
  ssl_certificate_key  {{ ssl_folda }}/{{ ssl_name }}.key;

  location / {
    # ファイルが存在しない場合は index.php へ
    try_files $uri $uri/ /index.php?$query_string;
  }

  # PHP(FastCGI の設定)
  location ~ \.php$ {
    # キャッシュしない
    expires off;

    fastcgi_pass  unix:{{ fpm_unix_socket }};
    fastcgi_index index.php;
    fastcgi_param SCRIPT_FILENAME $realpath_root$fastcgi_script_name;
    include fastcgi_params;
  }

  # エラーが発生した場合も index.php へ
  error_page 404 /index.php;

  # .git などの隠しファイルを返さない
      location ~ /\.(?!well-known).* {
    # アクセスを拒否する
    deny  all;
  }

  # ICON ファイルの設定
  location = /favicon.ico {
    # ログを残さない
    access_log off;
    log_not_found off;

    # キャッシュを最大にする
    expires max;
  }

  # robots.txt ファイルの設定
  location = /robots.txt {
    # ログを残さない
    access_log off;
    log_not_found off;
  }

  # 画像・フォントファイル関連の設定
  location ~ .*\.(jpe?g|png|gif|svg|woff2?|ttf)$ {
    # ログを残さない
    access_log off;

    # キャッシュを10日に設定
    expires 10d;
  }

  # CSS・JavaScript の設定
  location ~ .*\.(css|js)$ {
    # キャッシュを10日に設定
    expires 10d;
  }
}

