# Nginx 全体の設定 =====================================================================================================

# master process 以外を起動するユーザーを指定(master process は root ユーザー)
user  {{ fpm_user }};

# Nginx がシングルスレッドで動作するため、コア数に合わせて設定
worker_processes  auto;

# worker_connectionsの2〜4倍くらいが目安
worker_rlimit_nofile  2048;

# サーバのエラーログ
error_log  /var/log/nginx/error.log warn;

# /var/run の下にフォルダを作成して設定するとうまくいかないことがあるので注意
pid  /var/run/nginx.pid;

# event モジュールの定義 ===============================================================================================
events {
  # 一つのワーカーが同時に処理できる接続数
  worker_connections  1024;

  # 複数の接続をすべて1度に受け入れる
  multi_accept on;

  # Linuxカーネル2.6以上の場合はepoll、BSDの場合kqueue
  use epoll;
}

# HTTP アクセスに対する設定 ============================================================================================
http {
  # Nginx のバージョンを表示するかどうかの設定
  server_tokens off;

  # MIMEタイプと拡張子の関連付けを定義したファイルを読み込み
  include  /etc/nginx/mime.types;

  # mime.typesで拡張子からMIMEタイプを決定できなかったときに使用するMIMEタイプ
  default_type  application/octet-stream;

  # LOGのフォーマット(main)
  log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                    '$status $body_bytes_sent "$http_referer" '
                    '"$http_user_agent" "$http_x_forwarded_for" "$http_user_agent $request_time"';

  # LOGのフォーマット(ltsv)
  log_format ltsv 'time:$time_iso8601\t'
                  'remote_addr:$remote_addr\t'
                  'request_method:$request_method\t'
                  'request_length:$request_length\t'
                  'request_uri:$request_uri\t'
                  'https:$https\t'
                  'uri:$uri\t'
                  'query_string:$query_string\t'
                  'status:$status\t'
                  'bytes_sent:$bytes_sent\t'
                  'body_bytes_sent:$body_bytes_sent\t'
                  'referer:$http_referer\t'
                  'useragent:$http_user_agent\t'
                  'forwardedfor:$http_x_forwarded_for\t'
                  'request_time:$request_time\t'
                  'upstream_response_time:$upstream_response_time';

  # OSが提供しているsendfileを使用するかどうかを指定
  sendfile  on;

  # sendfileがonの時にこちらの設定をonにすると、レスポンスヘッダとファイルの内容をまとめて送る
  tcp_nopush  on;

  # 小さなパケットを待つことなく、そのまま送信する
  tcp_nodelay  on;

  # HTTPの持続的な接続時間
  keepalive_timeout  15;

  # keepalive_timeoutが有効な時に同じクライアントからの要求が指定の数に達するとコネクションを切断
  keepalive_requests 100;

  # gzip 圧縮の設定
  gzip on;
  gzip_static on;
  gzip_buffers 4 8k;
  gzip_comp_level 1;
  gzip_http_version 1.0;
  gzip_min_length 2k;
  gzip_proxied any;
  gunzip on;
  gzip_types text/plain
             text/css
             text/xml
             text/csv
             text/javascript
             application/json
             application/javascript
             application/xml
             application/xml+rss
             application/x-font-ttf
             application/x-font-otf;

  # 「a client request body is buffered to a temporary file」 対策
  client_body_buffer_size 64k;

  # WEB サーバごとの設定を読み込む
  include /etc/nginx/conf.d/*.conf;
}
